networkx==3.4.2
plotly==5.24.1
plotly-express==0.4.1
streamlit-plotly-events==0.0.6
altair==5.5.0
pandas==2.2.3
numpy==1.26.4
pyvis==0.3.2
litellm==1.73.0
scikit-learn==1.5.2
tqdm==4.67.0
tqdm-multiprocess==0.0.11
pdfplumber==0.11.6

